##
# This is a direnv file. See https://direnv.net/ for more info.
##

layout node

# Skip having to call `nvm use`
NVM_DIR=${NVM_DIR:-~/.nvm}
test -d "$NVM_DIR" && PATH_add "$NVM_DIR/versions/node/$(cat .nvmrc)/bin"